/*green*/
/*darker green*/
/*red*/
/*beige*/
/*dark grey*/
/*medium grey*/
/*beige*/
/* line 10, style.scss */
html, body, #map-canvas {
  height: 100%;
  margin: 0px;
  padding: 27px 0px;
}

/* line 16, style.scss */
#pull-up {
  height: 40px;
  width: 50px;
  position: fixed;
  top: 75px;
  left: -25px;
  background: white;
  z-index: 1;
  box-shadow: 1px 1px 5px #757575;
  border-radius: 5px;
}
/* line 27, style.scss */
#pull-up:hover, .is-selected #pull-up {
  background: #f2f2ef;
}

/* line 32, style.scss */
#pull-up img {
  height: 16px;
  position: relative;
  left: 70%;
  top: 30%;
}

/* line 39, style.scss */
body {
  font-family: sans-serif;
  font-weight: 100;
  background: #03a56a;
}

/* line 45, style.scss */
.navbar {
  background: #03a56a;
  font-size: 14px;
  padding: 0 10px;
  position: fixed;
  top: -14px;
  width: 100%;
  padding: 7px 0px;
}

/* line 55, style.scss */
.navbar-item {
  display: inline-block;
  position: relative;
  padding: 20px 0px;
}

/* line 61, style.scss */
.navbar-item-target {
  color: #f2f2ef;
  display: inline;
  padding: 20px 14px;
  text-decoration: none;
  position: fixed;
  right: 7%;
  top: 0px;
}
/* line 70, style.scss */
.navbar-item-target:hover, .is-selected .navbar-item-target {
  background: #1a8c62;
  color: white;
}
