$font-stack:    Helvetica, sans-serif;
$primary-color: #03A56A; /*green*/
$primary-accent: #1A8C62; /*darker green*/
$secondary-color: #F25E5E; /*red*/
$terciary-color: #F2F2EF; /*beige*/
$dark-text-color: #535353; /*dark grey*/
$medium-text-color: #757575; /*medium grey*/
$light-text-color: #F2F2EF; /*beige*/

html, body, #map-canvas {
  height: 100%;
  margin: 0px;
  padding: 27px 0px;
}

body {
  font-family: sans-serif;
  font-weight: 100;
  background: $primary-color;
}

.navbar {
  background: $primary-color;
  font-size: 14px;
  padding: 0 10px;
  position: fixed;
  top: -14px;
  width: 100%;
  padding: 7px 0px;
}

.navbar-item {
  display: inline-block;
  position: relative;
  padding: 20px 0px;
}

.navbar-item-target {
  color: $light-text-color;
  display: inline;
  padding: 20px 14px;
  text-decoration: none;
  position: fixed;
  right: 7%;
  top: 0px;
  
  &:hover, .is-selected & {
    background: $primary-accent;
    color: $light-text-color;
  }
}